html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'play', sans-serif;

}

body{

  /* background-image: url('./images/IMG_6197.PNG') ; */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat;  */
  

  background: linear-gradient(
    -45deg, #ee7752, #e73c7e, #23d5ab, blue);
  background-size:400% 400%;
  animation: gradient 15s ease infinite;
  
    
}

/*  */
/*  */


.navbar {
  display: flex;
  position:sticky;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  color: #f0f0f0;
  padding: 10px;
}

.navbar-logo {
  font-size: 20px;
}

.navbar-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 20px;
}

.navbar-links li a {
  color: #838383;
  text-decoration: none;
}

.navbar-links li a:hover {
  color: #fff;
}

/* Hamburger menu styles */
.navbar-toggle {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.navbar-toggle span {
  display:flex;
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin-bottom: 5px;
}













.info {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 5%;
  justify-content: center;
  padding: 30px;
 

}

.image {
  display: flex;
  justify-content: center;
  margin: 50px 40px;
  align-items:center;
  width: 90%;
  height: auto;
}







.info {
  margin-bottom: 2%;
  margin-top: 2%;
  font-family: "Play", sans-serif;
}

.info h1 {
  font-size: 24px;
  margin: 0 0 15px;
  line-height: 1.4;
  color: #45ecd1;

  text-shadow: 0 4px 30px rgba(99, 131, 157, 0.586);
  backdrop-filter: blur(3.4px);
 -webkit-backdrop-filter: blur(3.4px);
  
  opacity: 0.7;
  /*  */
  
  margin: 0 0 15px;
  line-height: 1.4;
  /* color: #5d5d5d;
} */
}

.info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #fdfdfd;
}

.info {
  width:auto;
  background-color: #000000;
  border-radius: 10px;
  opacity: .8;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
 -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(255, 255, 255, 0.05);


}

.info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 15px;
  cursor: pointer;
  color: #FFF;
  /* background-color: #6c63ff; */
  text-decoration: none;
  font-family: "Play", sans-serif;
  text-decoration: none;

  background: linear-gradient(
    -45deg, #ee7752, #e73c7e, #23d5ab, blue);
  background-size:400% 400%;
  animation: gradient 15s ease infinite;
  
  
  
  
}

.image img {width: 360px;
  height: auto;
  display: flex;
  justify-content: center;
  

  /* max-width: 50%; */
  border-radius: 10px;
}

/* .clearfix {
    clear: both;
} */


  footer {
  background:rgb(0, 0, 0) ;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
 

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.024);
  backdrop-filter: blur(3.4px);
 -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}
  
footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  
  }
  
 footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
  }
  
footer .row a:hover {
  color: #fff;
  }
  
footer .row ul {
  width: 100%;
  }
  
footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
  }
  
footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
  }

  footer .row svg {
    fill:#ffffff;
    position: relative;
  
  }
  
@media (max-width: 720px) {



   /* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   } */
 

  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    height:100vh;
    top: 0; 
    bottom: 0;
     
    left: 0;
    width: 100%;
    background-color: #000000;
    justify-content: space-between;
    

  }

  .navbar-links.active {
    height: 100vh;
    width: 100%;
    display: flex;
    position:sticky;
    justify-content: right;
    align-items: flex-end;
    
    

  }
  
  .navbar-logo {
    width: 20px;
    height: auto;
    padding: 10px 10px;
    display: flex;
    justify-content: flex-start;
    align-self:flex-start ;
    color: #23d5ab;
    
  }




  .navbar-links li {
    margin-left: 0;
    padding: 10px;
    text-align: right;
  }

  .navbar-links li a {
    color: #ffffff;
    
  }

  .navbar-toggle {
    width: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items:center;
    
    /* align-self:flex-start;
     */
    


  }





.image {
  width:90%;
  
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 4px;
  opacity: .7;
  

}

.info {
  width: 80%;
  height: auto;
  background-color: #000000;
  border-radius: 10px;
  opacity: .8;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
 -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(255, 255, 255, 0.05);

}


.info {
  display: flex;
  width:auto;
  height: auto;
  flex-direction: column;
  justify-self: center;
  align-content: center;
}

    

.links li a {
  text-align: right;
  display: table;
  padding: 0.5%;
  margin: 1px 1px ;
 
   }
   
   
   
  



footer {
  text-align: left;
  padding: 5%;


  opacity: .8;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.195);
  backdrop-filter: blur(3.4px);
 -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(255, 255, 255, 0.05);

  }
footer .row ul li {
  display: block;
  margin: 10px 0px;
  
    
  }
footer .row a i {
  margin: 0% 3%;
  }
  
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
      }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }