html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'play', sans-serif;

}

body{
  background-image: url('./images/IMG_6197.PNG') ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  
    
}


/* Start Landing Page */
.landing-page {
  /* background-color: #000000;
  /* text-align: center; 
  padding: 20px; */
  
  display: flex;
  /* min-height: calc(100% - (var(--navHeight))); */
  margin: 0;
  padding: 0;

}

 .container {
  width: 100%;
  height: auto;
 
  
  

}

 





.header-area {
  width: 100%;
  height:fit-content;
  display:flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 20px;
  font-family: "play" , sans-serif;
  background-color: rgb(37, 37, 37);
  text-align: right;
  border-radius: 10px;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
 -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}

.header-area .logo {
  display: flex;

}

 

.landing-page .header-area  .links {
  width: 100%;
  margin: 1% 5%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
  /* display: flex; */
  
  
}

.landing-page .header-area .links li {
  
  /*margin: 0 10px; */
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
  display: flex;
  justify-content: flex-end;
  

}

.landing-page .header-area .links li a{
  text-decoration: none;
  color: gray;
  transition: 0.5s;
  display: flex;
  justify-items: flex-end;
  
}

.landing-page .header-area .links li a:hover {
  color: #fdfdfd;

}


.main {
  /* margin: 0; */
  /* height: 0; */
  display: flex;
  justify-content: space-between;
  /* background-image: url(/images/IMG_6197.PNG) ;
  background-position: center;
  background-repeat: no-repeat; */


}
.main .info {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 5%;
  justify-content: center;
  padding: 30px;
 

}

.main .image {
  align-items:center;
  width: 600px;
  height: auto;
}







.landing-page .info {
  margin-bottom: 2%;
  margin-top: 2%;
  font-family: "Play", sans-serif;
}

.landing-page .info h1 {
  font-size: 24px;
  margin: 0 0 15px;
  line-height: 1.4;
  color: #45ecd1;

  text-shadow: 0 4px 30px rgba(99, 131, 157, 0.586);
  backdrop-filter: blur(3.4px);
 -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(255, 255, 255, 0.072);
  opacity: 0.7;
  /*  */
  
  margin: 0 0 15px;
  line-height: 1.4;
  /* color: #5d5d5d;
} */
}

.landing-page .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #fdfdfd;
}

.info {
  width:auto;
  background-color: #000000;
  border-radius: 10px;
  opacity: .8;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
 -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(255, 255, 255, 0.05);


}

.landing-page .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 15px;
  cursor: pointer;
  color: #FFF;
  /* background-color: #6c63ff; */
  text-decoration: none;
  font-family: "Play", sans-serif;
  text-decoration: none;

  background: linear-gradient(
    -45deg, #ee7752, #e73c7e, #23d5ab, blue);
  background-size:400% 400%;
  animation: gradient 15s ease infinite;
  
  
}

.landing-page .image img {width: 360px;
  height: auto;
  display: flex;
  justify-content: center;
  

  /* max-width: 50%; */
  border-radius: 10px;
}

/* .clearfix {
    clear: both;
} */


  footer {
  background:rgb(25, 25, 25) ;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
  border-radius: 10px;

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
 -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(255, 255, 255, 0.05);
}
  
footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
  
  }
  
 footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
  }
  
footer .row a:hover {
  color: #fff;
  }
  
footer .row ul {
  width: 100%;
  }
  
footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
  }
  
footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
  }

  footer .row svg {
    fill:#ffffff;
    position: relative;
  
  }
  
@media (max-width: 720px) {

  .header-area {
    width: 100%;
    height: 120px;
    display: flex; 
    background-color: #000000d8;
    opacity: .8;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.4px);
   -webkit-backdrop-filter: blur(3.4px);
    border: 1px solid rgba(255, 255, 255, 0.05);

    

  }

  .header-area .links a {
    height: 10px ;
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content:flex-end;
    margin-right: 5px;
    
  }

  .landing-page
   .header-area 
    .links { 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  
  
 

    }
.header-area .logo img {
  
  width: 39%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
  
  
  
  



  
}   



.header-area .logo {
  display: flex;
  justify-content: center;
  align-self:center;
  
}


.landing-page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction:column;
  justify-content: center;
  /* align-self:flex-end; */
  
  
}

.main {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
  
  
  
}

.image {
  width:inherit;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 4px;
  opacity: .7;
  

}

.info {
  width: 640px;
  height: auto;
  background-color: #000000;
  border-radius: 10px;
  opacity: .8;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
 -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(255, 255, 255, 0.05);


}


    

.links li a {
  text-align: right;
  display: table;
  padding: 0.5%;
  margin: 1px 1px ;
    
   }
   
   
   
  



footer {
  text-align: left;
  padding: 5%;


  opacity: .8;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.4px);
 -webkit-backdrop-filter: blur(3.4px);
  border: 1px solid rgba(255, 255, 255, 0.05);

  }
footer .row ul li {
  display: block;
  margin: 10px 0px;
    
  }
footer .row a i {
  margin: 0% 3%;
  }
  
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
      }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }