.body {
  margin: 0;
  padding: 0;
  font-family: 'play', sans-serif;
 
  
    
}


/* Start Landing Page */
.landing-page {
  /* background-color: #000000;
  /* text-align: center; 
  padding: 20px; */
  background-image: url(/images/IMG_6197.PNG) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 

}

/* .container {
  /* max-width: 1170px;
  margin: auto; */

 


*/


.landing-page .header-area {
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
  font-family: "play" , sans-serif;
  background-color: black;
  text-align: center;
  border-radius: 10px;
}

/* .landing-page .header-area .logo  {
  width: 60px;
  height: 60px;
  position: flex-start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.landing-page .header-area .logo  {
  width: 60px;
  height: 60px;
  
} */
.logo{
  position:absolute;
}

.landing-page .header-area  .links {
  list-style: none;
  justify-content: space-evenly;
  display: inline-flex;
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
  /* display: flex; */
  
  
}

.landing-page .header-area .links li {
  
  /*margin: 0 10px; */
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
  

}

.landing-page .header-area .links li a{
  text-decoration: none;
  color: gray;
  transition: 0.5s;
  display: inline-block;
  
}

.landing-page .header-area .links li a:hover {
  color: #fdfdfd;

}


.main{
  /* margin: 0; */
  /* height: 0; */
  display: flex;
  justify-content: space-between;
  /* background-image: url(/images/IMG_6197.PNG) ;
  background-position: center;
  background-repeat: no-repeat; */


}
.info,
.image{
  width: 50%;
  height: 100vh;
 

}







.landing-page .info {
  margin-bottom: 2%;
  margin-top: 2%;
  font-family: "Play", sans-serif;
}

.landing-page .info h1 {
  font-size: 24px;
  margin: 0 0 15px;
  line-height: 1.4;
  color: #5d5d5d;
 
  
  margin: 0 0 15px;
  line-height: 1.4;
  color: #5d5d5d;
}

.landing-page .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}

.landing-page .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 15px;
  cursor: pointer;
  color: #FFF;
  background-color: #6c63ff;
  text-decoration: none;
  font-family: "Play", sans-serif;
  
  
  text-decoration: none;
}

.landing-page .image img {
  max-width: 50%;
  border-radius: 10px;
}

/* .clearfix {
    clear: both;
} */


  footer {
  background:black ;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
  }
  
footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.6% 0%;
  color: gray;
  font-size: 0.8em;
  }
  
 footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
  }
  
footer .row a:hover {
  color: #fff;
  }
  
footer .row ul {
  width: 100%;
  }
  
footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
  }
  
footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
  }
  
@media (max-width: 720px) {
.landing-page .header-area  .links   { 
  display: table;
  margin: 0px 30px;
  text-align: flex;
 

    }

.logo {
  position:absolute;
  display:flex;
  
}   
    

.links li a {
  text-align: right;
  display: table;
  padding: 0.5%;
  margin: 0px 30px ;
    
   }
   
   
   
  



footer {
  text-align: left;
  padding: 5%;
  }
footer .row ul li {
  display: block;
  margin: 10px 0px;
    
  }
footer .row a i {
  margin: 0% 3%;
  }
  
  }